<div>
  <h2>{{article.title}}</h2>
  <img src="{{article.urlToImage}}" style="width: auto">
  <p>{{article.description}}</p>
  <!-- <h5>By : {{article.author}}</h5> -->
  <a href="{{article.url}}" target="_blank" >(read more)</a>
</div>
<buttons></buttons>

<!-- <div *ngIf = "articles">
    <ul class="articles" class="list-group">
      <li *ngFor = "let article of articles" class="list-group-item" [class.selected]="article === selectedArticle" (click)="onSelect(article)">
        <h1>{{article.title}}</h1> 
      </li>
    </ul> 
  </div>

  <article-details [article]="selectedArticle" *ngIf =  "selectedArticle"></article-details> -->
